# Django
DEBUG=False
SECRET_KEY=django-insecure-t5$po2puev=6idf67k9*r+dh879wm^4yk9p@3bytf=)t%nx#ps
ALLOWED_HOSTS=localhost,127.0.0.1,backend,0.0.0.0

# Seed
SEED_BATCH_SIZE=10000

# CELERY / Redis / Cache
CELERY_BROKER_URL=redis://redis:6379/0
REDIS_URL=redis://redis:6379/1
RATE_CACHE_KEY=rates_data_latest_local

# DB (PostgreSQL)
POSTGRES_DB=rates_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DB_HOST=db
DB_PORT=5432